<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body> -->

        <!-- ye jo hm alag se _header.ejs or footer.ejs banaye h use include krna v toa h uska procedure neeche -->
        <!-- line 11 ka likhne ka tarika please google iske andar inclue se lkh de<%- -%> -->
        <!--  include('_header');  -->

        <h1 id="s2">Sociobook / <%= title %></h1>
        
        <!-- <%- include('_footer'); -%>
        
    
    </body>
</html> -->